node_modules
.env
# vercel.json
# {
#     "version": 2,
#     "builds": [{
#         "src": "*.js",
#         "use": "@vercel/node"
#       }],
#     "routes": [{
#         "src": "/(.*)",
#         "dest": "/"
#       }]
#   }